
@model SUZTraining.Models.ViewModels.SamplePageViewModel

<h1 @Html.EditAttributes(m => m.currentPage.Heading)>
    @Model.currentPage.Heading
</h1>

<div>
    @Html.PropertyFor(m => m.currentPage.MainBody)
</div>



